<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/main.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
          <a href="/"><img src="static/img/bee-happy.png" width="75" height="75" style="position: relative; left: 10px"/></a>
        <div class="container">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="/smiledec">Smile</a>
              <a class="nav-item nav-link" href="/chat">Chat</a>
              <a class="nav-item nav-link" href="https://github.com/mdarshad1000/BeeHappy-Microsoft-Engage-22" target="_blank">Github</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">

            </div>
          </div>
        </div>
      </nav>
    </header>
<br><br><br><br>
<div class="alert alert-primary" role="alert">
    <h1 class="text-center">Hey I'm your companion, Engage!</h1>
</div>
<div class="alert alert-danger" role="alert">
    <h4 class="text-center">Let's engage in a conversation :)</h4>
</div>
<div>
<div id="chatbox">
<p class="botText"><span>Hi! I'm Chatterbot.</span></p>
</div>
<div id="userInput">
<input id="textInput" type="text" name="msg" placeholder="Message">
<input id="buttonInput" type="submit" value="Send">
</div>
<script>
function getBotResponse() {
var rawText = $("#textInput").val();
var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
$("#textInput").val("");
$("#chatbox").append(userHtml);
document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
$.get("/get", { msg: rawText }).done(function(data) {
var botHtml = '<p class="botText"><span>' + data + '</span></p>';
$("#chatbox").append(botHtml);
document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
});
}
$("#textInput").keypress(function(e) {
if(e.which == 13) {
getBotResponse();
}
});
$("#buttonInput").click(function() {
getBotResponse();
})
</script>
</div>
</body>
</html>