{% extends "layout.html" %}
{% block content %}
    <br><br>
    <img src="static/img/header.jpg" width="612" height="184">
    <b><h1 class="center">Welcome to Bee Happy!</h1></b><br>
    <p class="blockquote">
        <b>Mental Health</b> is as important as physical health for any individual,
        but it's been observed that oftentimes it gets neglected by people.
    </p>
    <p class="blockquote">
        If you are mildly sad or immensely depressed, this is the place to start
        with. <b>BEE HAPPY</b> is your companion where you can take your first step
        of being happy, that is <b>S-M-I-L-E .</b>
    </p><br>
    <h2>Features of BEE HAPPY</h2>
            <li class="blockquote">Uses Machine Learning Algorithm to find out if a person is currently smiling.</li>
            <li class="blockquote">Chat Bot with whom you can have conversations that makes you feel less lonely</li>
{% endblock content %}